<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849185551170-ifk22a27egssed0q3nlni1e8bddjsd66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849185551170-ifk22a27egssed0q3nlni1e8bddjsd66</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>849185551170-ui6v9tjslf21q2vvpqtn380ri3jk4k5r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt2V2jrd1MaJ02Z0-BV0Sdr8R1qoJ0EC8</string>
	<key>GCM_SENDER_ID</key>
	<string>849185551170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accessbrandywine</string>
	<key>PROJECT_ID</key>
	<string>accessbrandywine</string>
	<key>STORAGE_BUCKET</key>
	<string>accessbrandywine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:849185551170:ios:b51e4f56ff95a0fbadcedb</string>
	<key>DATABASE_URL</key>
	<string>https://accessbrandywine.firebaseio.com</string>
</dict>
</plist>
